/* div > .jumbotron > .jumbotron-fluid {
    background: url("imgs/header.jpeg");
    background-size: cover;
} */

/* #jumbotron {
    background: url("imgs/header.jpeg") center center / cover no-repeat;
} */

#jumbotron {
    background: url("imgs/header.jpeg");
    background-size: cover;
}